*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

/** about me page styles **/

a{
    color: white;
}

.about-page{
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .heading{
    text-align: left;
    font-size: 550%;
    font-weight: bolder;
    margin-right: 10%;
    margin-left: 15%;
    padding-top: 18%;
    padding-bottom: 21%;
    border-left: 0 solid;
  }

  .about-page img {
    margin-left: 60vw;
    margin-bottom: 3%;
  }

  .about{
    margin-left: 25%;
    margin-right: 80%;
    padding-bottom: 4%;
    font-weight: 4rem;
    font-size: 4rem;
    border-left: 0px solid;
    padding-left: 0px;
  }

  .about-page p {
    text-align: left;
    margin-left: 25%;
    margin-right: 30%;
    font-size: 1.3rem;
    font-weight: 1.4rem;
    line-height: 170%;
    padding-bottom: 300px;
  }
    
  /** about me page styles **/

  /** skills page styles **/

  .skill-page{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: radial-gradient(circle at 2px 2px, navy 1%, black);
  }

  .skill-page h1{
    padding-top: 5%;
    padding-bottom: 5%;
    border-left: 0 solid;
    margin: auto;
  }

  .skills{
    color: white;
    text-align: left;
    margin: auto;
  }

  table, th, td{
    border-right: 1px solid;
    
  }
 th{
    border-bottom: 1px solid;
    padding: 20px;
    font-size: 200%;
 }

 td{
    padding: 50px;
    font-size:200%;
 }

  table {
    border-collapse: collapse;
    border-color: white;
  }



  /**skills page styles **/

  /**contact page styles **/

  .contact-page{
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }

  .contact{
    margin-top: 0;
    padding-top: 10%;
    margin-bottom: 5%;
    text-align: left;
    margin-left: 25%;
    border-left: 0 solid;
    padding-left: 0;
  }

  .contact-intro {
    text-align: left;
    font-size: 400%;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 14%;
    padding-top: 20%;
    border-left: 0 solid;
  }

  .contact-page p{
   text-align: left;
   margin-left: 25%;
   margin-right: 30%;
   font-size: 1.3rem;
   font-weight: 1.4rem;
   line-height: 170%;
   padding-bottom: 60px;
  }

 .contact-page li{
    text-align: left;
    margin-left: 27%;
    font-size: 1.4rem;
    font-weight: 1.4rem;
    line-height: 170%;
    color: red;
  }

 .contact-page li:hover{
    font-size: 1.6rem;
 }

  .contact-page ul{
    padding-bottom: 200px;
  }

  .contact-page a{
    color: red;
  }

  /** project page styles **/

  .projects-page{
    text-align: left;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }

  .projects {
    color: green;
    margin-bottom: 5%;
    padding-top: 17%;
    border-left: 0px solid;
    font-size: 5rem;
    padding-left: 0px;
  }

  

  .projects-page p{
    padding-bottom: 40px;
    font-size: 1.5rem;
    margin-left: 20%;
    border-left: 1px solid;
    border-color: white;
    padding-left: 30px;
  }

  .projects-page a, h1{
    font-size: 3rem;
    margin-left: 20%;
    border-left: 1px solid;
    border-color: white;
    padding-left: 30px;
  }

  .projects-page a :hover{
    font-size: 4rem;
    padding-left: 50px;
  }





